.main-menu {
  position: fixed;
  width: $menu-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  overflow: hidden;
  background-color: $primary-color;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);

  &__menu {
    position: relative;
    top: 6rem;
    height: $menu-width;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(-90deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    li {
      display: flex;
      align-items: center;
      list-style: none;
      margin-right: 3rem;
      font-size: 1.3rem;
      color: $secondary-color;
      transition: color 0.2s;
      
      &:nth-child(1) {
        margin-right: 0;
      }

      &.active {
        color: $fourth-color;
        box-shadow: inset 0px 5px 0px $fourth-color;
      }

      a {
        color: inherit;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: $fourth-color;
        }
      }

    }
  }

  &__icons {
    li {
      width: 2.5rem;
      height: 2.5rem;
      list-style: none;
      margin-bottom: 1rem;
      cursor: pointer;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &--project {
    .main-menu__menu {
      top: 0;
      width: 100%;
      justify-content: center;
      transform: unset;
      li {
         width: 90%;
         min-width: 4rem;
         text-align: center;
         font-size: 1rem;
        img {
          display: block;
          width: 40%;
          height: auto;
          margin: 0 auto;
          margin-bottom: 0.5rem;
          filter: invert(1);
        }
      }
    }
  }
}