* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

$primary-color: #001011;
$secondary-color: #fff;
$third-color: #F2F3AE;
$fourth-color: #D58936;

$menu-width: 8rem;

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  background-color: $primary-color;
}

a {
  text-decoration: none;
  color: inherit;
}