.page {
  padding: 2rem 0 !important;
  .project-identification {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    &__image {
      position: relative;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &.pokemon-image {
        background-image: url('../assets/pokedex-back.png');
        background-position: 31% 29%;

        &::before {
          background-color: rgba(167, 0, 0, 0.3);
        }
      }
      &.charger-image {
        background-image: url('../assets/charger.jpg');
        background-position: 0% 5%;
        background-size: cover;

        &::before {
          background-color: rgba(32, 25, 18, 0.3);
        }
      }
      &.smart-image {
        background-image: url('../assets/smart.png');
        background-position: 84% 5%;
        background-size: cover;
        &::before {
          background-color: rgba(0, 85, 140, 0.3);
        }
      }
      &.academia-image {
        background-image: url('../assets/academia.png');
        background-position: 98%;
        background-size: cover;
        &::before {
          background: rgba(131, 56, 236, 0.3);
          background: linear-gradient(270deg, rgba(131, 56, 236, 0.3) 0%, rgba(233, 72, 174, 0.3) 100%, rgba(233, 72, 174, 0.3) 100%, rgba(233, 72, 174, 0.3) 100%);
        }
      }
    }

    &__info {
      color: $secondary-color;

      h1 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1;
        span {
          display: flex;
          align-items: center;
          font-size: 2.5rem;
          img {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.5rem;
          }
        }
      }

      .project-link {
        display: block;
        padding: 0.5rem;
        text-align: center;
        border-radius: 10px;
        font-size: 1.1rem;
        margin-top: 0.8rem;
        &--one {
          color: $primary-color;
          background-color: $third-color;
        }
        &--two {
          color: $secondary-color;
          background-color: $fourth-color;
        }
      }
    }
  }

  .project-summary, .project-technologies {
    width: 90%;
    max-width: 50rem;
    margin-top: 2rem;
    
    h2 {
      color: $third-color;
      font-weight: 400;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p, ul {
      color: $secondary-color;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 1.8; 
    }

    ul {
      padding-left: 1.4rem;
    }
  }
}