* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

$primary-color: #001011;
$secondary-color: #fff;
$third-color: #F2F3AE;
$fourth-color: #D58936;

$menu-width: 8rem;

body {
  display: flex;
}
.main-menu {
  position: fixed;
  width: $menu-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  background-color: $primary-color;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.7); 

  &__menu {
    position: relative;
    top: 6rem;
    height: $menu-width;
    display: flex;
    transform: rotate(-90deg);
    li {
      display: flex;
      align-items: center; 
      list-style: none;
      margin-right: 3rem;
      font-size: 1.3rem;
      color: $secondary-color;

      &:nth-last-child(1) {
        margin-right: 0;
      }
      a {
        color: inherit;
        text-decoration: none;  
      }
    }
  }
  &__icons {
    li {
      width: 2.5rem;
      height: 2.5rem;
      list-style: none;
      margin-bottom: 1rem;
      cursor: pointer; 
      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.container {
  flex: 1;
  margin-left: $menu-width;
  min-height: 100vh;
  background-color: lighten($primary-color, 0.5);

  .content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    &--first {
      justify-content: center;
      .cover {
        display: flex;
        align-items: center;
        &__pic {
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
          margin-right: 3rem;
        }

        h1 {
          font-size: 4rem;
          font-weight: 500;
          line-height: 1;
          margin-bottom: 1rem;
          color: $secondary-color;
        }

        h3 {
          font-size: 2rem;
          font-weight: 300;
          color: $third-color;
        }
      }

      .second-menu {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
        margin-top: 4rem;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          li {
            list-style: none;
            font-size: 1.5rem;
            color: $secondary-color;
            transition: color 0.2s;
            &:hover {
              color: $fourth-color;
            }

            a {
              color: inherit;
              text-decoration: none;
            }
          }
        }
      }
    }

    &--second {
      .summary {
        width: 90%;
        max-width: 50rem;
        font-size: 1.3rem;
        line-height: 2;
        margin-top: 3rem;
        color: $secondary-color;
      }      
    }

    &--third {
      .projects {
        width: 100%;
        max-width: 50rem;
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;

        .project {
          position: relative;
          width: 17rem;
          height: 12rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem 5%;
          border-radius: 10px;
          overflow: hidden;
          &>* {
            position: relative;
            z-index: 30;
            color: $secondary-color;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            width: 100%;
            height: 100%;
          }
          
          &--1 {
            line-height: 1.2;

            .bck-container {
              background-position: 22% 33%;
              background-image: url('../assets/pokedex-back.png');
            }
            &::before {
              background-color: rgba(167, 0, 0, 0.9);
            }

            .upper-text {
              display: flex;
              align-items: center;
              
              img {
                width: 2rem;
                height: 2rem;
                margin-right: 0.2rem;
              }

              p {
                font-size: 2rem;
              }
            }
            p {
              font-size: 3rem;
            }
          }

          &--2 {
            line-height: 1.2;
            .bck-container { 
              background-image: url('../assets/charger.png');
            }

            &::before {
              background-color: rgba(32, 25, 18, 0.9);
            }

            .small-text  {
              font-size: 2rem;
            }

            .project-name {
              font-size: 3rem;
            }
          }

          &--3 {
            .bck-container { 
              background-size: 100% 100%;
              background-image: url('../assets/smart.png');

            }

            &::before {
              background-color: rgba(0, 85, 140, 0.9);
            }

            .small-text {
              font-size: 1.6rem;
              text-align: right;
              padding-right: 0.7rem;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
              color: rgb(0, 85, 140);
              background: #fff;
              background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 1) 100%);
            }

            .big-text {
              font-size: 2.1rem;
            }
          }

          &--4 {
            
            .bck-container { 
              background-size: 100% 100%;
              background-image: url('../assets/academia.png');
            } 

            &::before {
              background: rgba(131, 56, 236, 0.88);
              background: linear-gradient(270deg, rgba(131, 56, 236, 0.88) 0%, rgba(233, 72, 174, 0.5456) 100%, rgba(233, 72, 174, 0.5456) 100%, rgba(233, 72, 174, 0.6952) 100%);
            }

            img {
              width: 80%;
            }
          }

          &__hover-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            opacity: 0;
            transition: opacity 0.5s;
            background-color: $fourth-color;

            .hover-text {
              font-size: 1.2rem;
              text-align: center;
              margin-bottom: 1rem;
            }

            a.btn {
              text-decoration: none;
              display: block;
              padding: 0.5rem 1rem;
              border-radius: 17px;
              color: $secondary-color;
              border: 2px solid $third-color;
            }
            &:hover {
              opacity: 1;
            }
          }

          &:hover {
            .bck-container {
              transform: scale(1.3);
            }
          }

          .bck-container {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            transition: transform 0.5s;
          }
          
        }
      }
    }

    &__title {
      font-size: 3rem;
      font-weight: 300;
      color: $third-color;
    }
  }
}
